@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 68px;
        padding-top: 0;
    }


    .first_section .cont
    {
        padding: 0;
    }


    .first_section .data
    {
        margin: 0;

        border-radius: 0;
    }


    .first_section .info
    {
        max-width: 343px;
        min-height: 320px;
        padding: 40px 16px;
    }


    .first_section .info .pre_title
    {
        font-size: 16px;
        line-height: 24px;
    }


    .first_section .info .title
    {
        font-size: 26px;
        line-height: 32px;

        margin-top: 12px;
    }


    .first_section .info .sub_title
    {
        font-size: 14px;
        line-height: 20px;
    }


    .first_section .info .link
    {
        margin-top: 24px;
        padding: 0 20px;
    }



    .first_section .payments
    {
        position: absolute;
        z-index: 10;
        bottom: 8px;
        left: 0;

        width: 100%;

        border-radius: 0;
        background: none;
    }


    .first_section .payments .row
    {
        display: block;
        overflow: auto;

        width: calc(100% + 32px);
        margin: 0 -16px;
        padding: 0 16px;

        white-space: nowrap;

        scroll-padding: 0 24px;
        scroll-snap-type: x mandatory;
        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .first_section .payments .row::-webkit-scrollbar
    {
        display: none !important;

        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .first_section .payments .row::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .first_section .payments .row > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;

        scroll-snap-align: start;
    }

    .first_section .payments .row > * + *
    {
        margin-left: 28px;
    }



    /*--------------
        Features
    --------------*/
    .features .cont
    {
        padding: 0 16px 567px;
    }



    .features .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }


    .features .row > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .features .link
    {
        margin-top: 32px;
    }



    .features .bg2
    {
        bottom: 54px;

        width: 628px;
        height: 553px;
    }
}
